{% extends "base.html" %}

{% block graph %}
<link rel="stylesheet" href="../static/css/index.css">
<div class="container-fluid scrollable" id="background-pic">
    <h1>Welcome!</h1>
    <p><b>Wiki Trend</b> helps you to discover your hidden interests through clickstream analytics.<p>
    <form method="POST">
        <div class="form-group justify-content-center align-items-center">
            <input class="form-control col-md-4" id="search-input" type="text" placeholder="Search" aria-label="Search" name="search">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div class="justify-content-center"><a>Examples:</a></div>
        <form method="post" action="">
            <button method="post" type="submit" name="search" value="Chicago" class="btn btn-link">
                Chicago
            </button>
            <button type="submit" name="search" value="Barack_Obama" class="btn btn-link">
                    Barack Obama
            </button>
            <button type="submit" name="search" value="Global_warming" class="btn btn-link">
                    Global Warming
            </button>
            <button type="submit" name="search" value="Hong_Kong" class="btn btn-link">
                    Hong Kong
            </button>
            <button type="submit" name="search" value="Taylor_Swift" class="btn btn-link">
                    Taylor Swift
            </button>
        </form>
    </div>
</div>
    
{% endblock %}